In [ ]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
from pandas import DataFrame

Property prices

In [ ]:
a=requests.get("https://www.makaan.com/price-trends/property-rates-for-buy-in-mumbai").text
soup=bs(a,'lxml')

In [ ]:
titles=[] ## title
pricemin=[] ## min price
pricemax=[] ##max price
priceavg=[] ##avg price
pricerise=[] ##price rise

In [ ]:
tb=soup.select("table[data-trend-type='apartment'] > tbody > tr")
for td in tb:
	try:
		title=td.select("td[data-source='locality']")[0].get_text()
		p1=td.select("td")[1].select("[itemprop='minPrice']")[0].get_text().replace(",","")
		p2=td.select("td")[1].select("[itemprop='maxPrice']")[0].get_text().replace("/ sqft","").replace(",","")
		pavg=td.select("td")[2].get_text().replace("/ sqft","").replace(",","")
		prise=td.select("td")[3].get_text().replace("%","").replace(",","")
		titles.append(title)
		pricemin.append(p1)
		pricemax.append(p2)
		priceavg.append(pavg)
		pricerise.append(prise)
	except:
		pass

In [ ]:
df=DataFrame({"Localty Name":titles,
						"Price min":pricemin,
						"Price Max":pricemax,
						"Price AVG":priceavg,
						"Price Rise":pricerise})

In [ ]:
print(df)

        Localty Name Price min Price Max    Price AVG Price Rise
0         Thane West         0   194951    101187.33        19.8
1     Mira Road East       678   197266     92444.61         7.2
2           Kharghar       648   109948     56700.82         -19
3            Chembur      1240    48273     39984.16        31.3
4     Kandivali East       219   172571     68358.17        13.4
5              Powai       750    85308     51426.88       -12.7
6      Goregaon East       714    60771     36444.47        48.6
7          Dombivali       550    17094     14877.86       -32.3
8               Ulwe       707   225193     61486.98        44.4
9       Andheri East      1167   114444        54111       -16.1
10             Virar       347    76212     11771.18         5.9
11            Panvel      2200    77778     27260.07        32.1
12      Andheri West      1750   118750     61324.84          43
13       Mulund West      3304    32553     29609.91        50.5
14        Malad West      3100    40373      3524.56        18.1
15       Kalyan West       240    24444     18820.82         7.5
16     Borivali West       271   170667      5433.26        11.5
17       Bandra West       200   153333    126661.22       -19.8
18           Dahisar       250   135333     63805.44        62.9
19      Bhandup West      2411    29195     26156.95        81.4
20           Kamothe       590    69091     48976.97        29.3
21     Borivali East       225   185393     74882.71        27.6
22    Kandivali West      1083    34762     30517.83        35.6
23        Malad East      1167   150833     81481.67        -6.4
24            Airoli      4481    63810      3121.79        40.4
25     Goregaon West      2375    45714     34218.92         3.9
26      Naigaon East       475    12479     10327.61        40.5
27       Nala Sopara       365    21625     10297.36        -5.9
28    Koper Khairane      1350    45940      27563.5        15.7
29    Santacruz East       347    85938      58105.1        23.1
30       Lower Parel      2653   158333      67978.7        22.2
31     Badlapur East       369    11042      9860.47       -31.1
32            Taloja      2500    35439     13772.47        29.1
33    Dombivali East       450    77490     50760.16       -13.6
34        Kanjurmarg     10656    49095     41165.94        45.4
35             Vasai      2787    37037     18168.85       157.5
36     Badlapur West       381    29197     15292.92       -25.5
37            Wadala       446    61667     43737.21        10.6
38          Ghansoli      2429    37860     27725.83        61.3
39  Ville Parle East      6667    58333     47590.01        41.7
40             Neral      1580    10617         9437          26
41             Worli       213   122026      74523.7         3.3
42          Bhiwandi       397    19947     15493.27       134.6
43   Jogeshwari West      6328    35000     31625.39        34.5
44             Parel       446    60606      51783.1        -4.8
45            mumbai       200    78571     58116.52       217.9
46    Ambernath East       389    13300     11831.49           7
47        Virar West       421    10862      9122.95        11.3
48        Prabhadevi       481   175000     78589.23        -9.9
49          Seawoods        21    25000     22112.94        72.2
50         Karanjade       484    20000     16586.77        28.5
51       Bandra East       991    75282      6291.25        -8.6
52         Khar West       382    74000      6531.64       -17.5
53    Santacruz West      2133   131938     73994.54         1.9
54       Mulund East       200    41641     28434.07        32.8
55          Vikhroli       610    74299     42812.12        56.8
56              Juhu       367   125000     85144.62        48.7
57              Sion      1677    48111     42630.25       -35.9
58             Nerul      2157    40000     22541.16        44.1
59    Ambernath West      2713    21605      9580.71       308.6

In [ ]:
df.head()

     Localty Name Price min Price Max    Price AVG Price Rise
0      Thane West         0   194951    101187.33        19.8
1  Mira Road East       678   197266     92444.61         7.2
2        Kharghar       648   109948     56700.82         -19
3         Chembur      1240    48273     39984.16        31.3
4  Kandivali East       219   172571     68358.17        13.4

In [ ]:
newcols = {
    'Localty Name': 'Localty', 
    'Price min': 'Min', 
    'Price Max': 'Max',
    'Price AVG': 'Avg',
    'Price Rise':'Change'
}

In [ ]:
df.rename(columns=newcols, inplace=True)

In [ ]:
df.head()

          Localty   Min      Max          Avg Change
0      Thane West     0  194951    101187.33    19.8
1  Mira Road East   678  197266     92444.61     7.2
2        Kharghar   648  109948     56700.82     -19
3         Chembur  1240   48273     39984.16    31.3
4  Kandivali East   219  172571     68358.17    13.4

In [18]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [ ]:
#df.to_csv('/content/drive/MyDrive/IBM/MumbaiHousePrices.csv')

In [ ]:
#!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim

In [ ]:
locator = Nominatim(user_agent='myGeocoder')

In [ ]:
from geopy.extra.rate_limiter import RateLimiter

# 1 - conveneint function to delay between geocoding calls
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
# 2- - create location column
df['location'] = df['Localty'].apply(geocode)
# 3 - create longitude, laatitude and altitude from location column (returns tuple)
df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)
# 4 - split point column into latitude, longitude and altitude columns
df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)

In [16]:
dfx=df.dropna()

In [17]:
dfx.head()

          Localty   Min      Max  ...   latitude  longitude altitude
0      Thane West     0  194951   ...  19.194329  72.970178      0.0
1  Mira Road East   678  197266   ...  19.281697  72.856068      0.0
2        Kharghar   648  109948   ...  19.052530  73.073511      0.0
3         Chembur  1240   48273   ...  19.062632  72.901140      0.0
4  Kandivali East   219  172571   ...  19.210381  72.864084      0.0

[5 rows x 10 columns]

In [19]:
dfx.to_csv('/content/drive/MyDrive/IBM/MumbaiHousePrices_Geoloc.csv')

Remove None

In [ ]:
url='https://en.wikipedia.org/wiki/List_of_neighbourhoods_in_Mumbai'
source = requests.get(url).text
soup=BeautifulSoup(source,'lxml') #parse in the soup

tab=str(soup.table)
dfs=pd.read_html(tab)
df=dfs[0]

df=df[df['Location'].str.contains(",")].reset_index(drop=True)


new=df["Location"].str.split(",",n=1,expand=True) #location acts as the basis of 2 new columns
df["Zone"]= new[0]
df["Neighbourhood"]= new[1]


print(df)

                                            Area  ...    Neighbourhood
0                                         Amboli  ...  Western Suburbs
1                                     D.N. Nagar  ...  Western Suburbs
2                                 Four Bungalows  ...  Western Suburbs
3                                    Lokhandwala  ...  Western Suburbs
4                                          Marol  ...  Western Suburbs
5                                          Sahar  ...  Western Suburbs
6                                Seven Bungalows  ...  Western Suburbs
7                                        Versova  ...  Western Suburbs
8                                      Mira Road  ...  Western Suburbs
9                                      Bhayandar  ...  Western Suburbs
10                                         Uttan  ...  Western Suburbs
11                           Bandstand Promenade  ...  Western Suburbs
12                                      Kherwadi  ...  Western Suburbs
13                                     Pali Hill  ...  Western Suburbs
14                                   I.C. Colony  ...  Western Suburbs
15                                         Gorai  ...  Western Suburbs
16                             Aarey Milk Colony  ...  Western Suburbs
17                                  Bangur Nagar  ...  Western Suburbs
18                                       Charkop  ...  Western Suburbs
19                                        Poisar  ...  Western Suburbs
20                                 Mahavir Nagar  ...  Western Suburbs
21                                Thakur village  ...  Western Suburbs
22                                     Pali Naka  ...  Western Suburbs
23                                    Khar Danda  ...  Western Suburbs
24                                      Dindoshi  ...  Western Suburbs
25                                  Sunder Nagar  ...  Western Suburbs
26                                        Kalina  ...  Western Suburbs
27                                       Naigaon  ...  Western Suburbs
28                                    Nalasopara  ...  Western Suburbs
29                                          Irla  ...  Western Suburbs
30                                   Amrut Nagar  ...  Eastern Suburbs
31                                        Asalfa  ...  Eastern Suburbs
32                                    Pant Nagar  ...  Eastern Suburbs
33                                   Nehru Nagar  ...  Eastern Suburbs
34                                         Nahur  ...  Eastern Suburbs
35                                    Chandivali  ...  Eastern Suburbs
36                           Hiranandani Gardens  ...  Eastern Suburbs
37  Indian Institute of Technology Bombay campus  ...  Eastern Suburbs
38                                        Deonar  ...  Harbour Suburbs
39                                         Mahul  ...  Harbour Suburbs
40                                 C.G.S. colony  ...     South Mumbai
41                                   Dagdi Chawl  ...     South Mumbai
42                                    Navy Nagar  ...     South Mumbai
43                                  Hindu colony  ...     South Mumbai
44                                Ballard Estate  ...     South Mumbai
45                                  Chira Bazaar  ...     South Mumbai
46                                    Fanas Wadi  ...     South Mumbai
47                                   Chor Bazaar  ...     South Mumbai
48                                  Gowalia Tank  ...     South Mumbai

[49 rows x 6 columns]

In [ ]:
df.head()

             Area                 Location  ...     Zone    Neighbourhood
0          Amboli  Andheri,Western Suburbs  ...  Andheri  Western Suburbs
1      D.N. Nagar  Andheri,Western Suburbs  ...  Andheri  Western Suburbs
2  Four Bungalows  Andheri,Western Suburbs  ...  Andheri  Western Suburbs
3     Lokhandwala  Andheri,Western Suburbs  ...  Andheri  Western Suburbs
4           Marol  Andheri,Western Suburbs  ...  Andheri  Western Suburbs

[5 rows x 6 columns]